tenancy_ocid         = ""
user_ocid            = ""
fingerprint          = ""
private_key_path     = ""
region               = "ap-seoul-1"
compartment_ocid     = ""
allowed_ssh_cidr     = ""
ssh_authorized_keys  = ""
image_ocid           = ""

# Optional
# availability_domain = "kIdk:AP-SEOUL-1-AD-1"
