#cloud-config
package_update: true
package_upgrade: false

write_files:
  - path: /etc/rancher/k3s/config.yaml
    permissions: "0600"
    owner: root:root
    content: |
      server: https://${server_node_ip}:6443
      token: ${k3s_token}
      node-ip: ${agent_node_ip}

runcmd:
  - timedatectl set-timezone Asia/Seoul || true
  - |
    for i in $(seq 1 60); do
      nc -z ${server_node_ip} 6443 && break
      sleep 5
    done
  - curl -sfL https://get.k3s.io | INSTALL_K3S_VERSION='${k3s_version}' sh -s - agent
